@media only screen and (min-width: 600px) {
    #menu {
        display: none;
    }

    .navigation {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    .navigation li {
        margin: 0 1rem;
    }

    #res-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}